<div class="card h-100">
  <div class="d-flex justify-content-between align-items-center p-3">
    <div>
      <h5 class="card-title mb-1"><%= option.name %></h5>
      <p class="card-text text-muted mb-1"><strong><%= option.unit_price %> euros</strong></p>
      <div class="card-text">
        <% option.tickets.each do |ticket| %>
          <span class="badge bg-secondary"><%= ticket.name %></span>
        <% end %>
      </div>
    </div>
    <%= link_to 'Modifier', edit_admin_event_option_path(event_id: @event.id, id: option.id), class: 'btn btn-primary btn-sm' %>
  </div>
</div>
