<div class="card">
  <h4><%= option.name %></h4>
  <p><%= option.unit_price %> euros</p>
  <%= link_to 'modifier', edit_admin_event_option_path(event_id: @event.id, id: option.id), class: 'btn btn-primary' %>
</div>
