<%= render 'admin/events/top_navbar' %>
<h2>Options de l'évènement</h2>
  <% if @event.options.any?%>
    <div class="container">
      <div class="row">
        <% @options.each do |option|  %>
          <span class="col-sm-12 col-xl-4 my-2">
            <%= render'option_card', option: option %>
          </span>
        <% end %>
      </div>
    <% else %>
          <h2>Vous n'avez pas encore créé d'options.</h2>
        <% end %>
      </div>
  <h2>Ajouter</h2>
  <%= link_to 'créer nouvelle option', new_admin_event_option_path(@event), class: 'btn btn-primary' %>
</div>