// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main: #FCC9CE;
$background-rose: #FFDADE;
$lichen: #859190;
$very-rose: #E95286;
$very-rose-hover: #DE2E6B;
$mint: #D1EDEC;
$mint-hover: #C1F1EF;
$disabled-grey: #DFDFDF;
