<div class="top-navbar-container">
   <%= link_to 'détails', admin_event_path(@event), id: "navbar-link" %>
   <%= link_to 'tickets', admin_event_tickets_path(@event), id: "navbar-link" %>
   <%= link_to 'options', admin_event_options_path(@event), id: "navbar-link" %>
   <%= link_to 'publication', @event, id:"navbar-link" %>
</div>