<div class="event-content-container ">
<%= render '/events/top-navbar' %>

  <h1><%= @event.name%></h1>
  <p><%= @event.description %></p>
    <%= link_to edit_event_path(@event) do %>
    <span class="visually-hidden">Edit</span>
    <i class="fas fa-edit"></i>
  <% end %>
</div>

