<div class="event-content-container">
  <%= render 'top_navbar' %>

  <h1 class="event-title">Modifier le statut de l'évènement</h1>
  <ul class="event-info-list">
    <li class="event-info-item">Brouillon : l'évènement n'apparaît que pour vous</li>
    <li class="event-info-item">Publié : l'évènement est visible, et les participants peuvent s'inscrire</li>
  </ul>

  <%= simple_form_for @event, url: publish_admin_event_path(@event), html: { class: 'event-form-container' } do |f| %>
    <%= f.input :status, collection: Event::STATUS_OPTIONS, as: :select, prompt: "Choisir un statut", input_html: { class: 'form-select' } %>
    <%= f.submit "Enregistrer", class: "event-action-button" %>
  <% end %>
</div>