// Specific CSS for your home-page
.titre-home {
  align-items: center;
  margin: 16px;
  text-align: right;
  color: $very-rose-hover;
}

.titre-home img {
  height: 400px;
  margin-left: 16px;
}

.cards-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: $background-rose; /* Rose clair */
  margin: -16px -24px;
}

.card-home {
  background: linear-gradient(135deg, $very-rose, #fff);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-home:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-home h1 {
  color: $background-rose;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.card-home p {
  color: #fff;
  line-height: 1.6;
  text-align: center;
}
