// Specific CSS for your home-page
.titre-home {
  align-items: center;
  margin: 16px;
  text-align: right;
  color: $very-rose-hover;
}

.titre-home img {
  height: 400px;
  margin-left: 16px;
}

.text-home {
  text-align: justify;
  margin: 16px;
  color: $lichen;
}

.carousel-home {
  margin-left : -32px;
  margin-right: -32px;
  margin-top: -16px;
  background-color: $background-rose;
}

.div-rose {
  background-color: $background-rose;
  padding: 16px;
}

.card-home {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
}
