<div class="container">
<div class="footer">
  <div>
    <i class="fa-brands fa-instagram reseaux"></i>
    <i class="fa-brands fa-facebook reseaux"></i>
    <i class="fa-brands fa-linkedin reseaux"></i>
  </div>

  <div>
    <p class="text-center">© Copyright mes amis mes amours</p>
  </div>
  <%= link_to "Admin", admin_root_path, class: "nav-link" %>
</div>
</div>
