<div class="container">
<div class="footer">
  <div>
    <a href="#" class="footer-logo"><i class="fa-brands fa-instagram reseaux"></i></a>
    <a href="#" class="footer-logo"><i class="fa-brands fa-facebook reseaux"></i></a>
    <a href="#" class="footer-logo"><i class="fa-brands fa-linkedin reseaux"></i></a>
  </div>


  <%= link_to "Admin", admin_root_path, class: "nav-link" %>
</div>
</div>
