<div class="row border border3">

<div class="col-4 border border-5">

<div class="card index-event-card border border-4">
  <h3><%= name %></h3>
  <p><%= description %></p>
  <%= cl_image_tag 'production/42hmnhdn4knfgpppubb4t6poe6us' %>
  <p><%= date %></p>
</div>

</div>

</div>
