
  <div class="col-4">

    <div class="card index-event-card p-2 mt-4">
      <h5 class=" event-card-title"><%= name %></h5>

    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-6">
        <%= cl_image_tag("runner-PTLUTZL-e1641394048474-600x400_hxswmh", class:"index-event-card-image")%>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="card-backstory"><%= truncate(description, length: 100, separator: ' ', omission: '...') %></p>
      </div>

    </div>

      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-5">
          <p><%= price %> euros</p>
        </div>
      </div>
    </div>
  </div>
