<div class="top-navbar-container">
  <ul class="top-navbar-item">
    <li> <%= link_to "détails", event_details_path(@event) %></li>
    <li> <%= link_to 'Tickets', @event %></li>
    <li> <%= link_to 'Options', @event %></li>
    <li> <%= link_to 'Publication', @event %></li>
  </ul>
</div>