<div class="text-center"><h1><%= @charity.name %></h1>
<h2>Tous les évènements</h2>
</div>
<div class="row">
  <% @events.each do |event| %>

        <%= render 'event-index-card', event: event, name: event.name, description: event.description, date: event.date %>

  <% end %>
</div>