
<div class="text-center">
  <h1><%= @event.name %></h1>
</div>

<div class="row">

  <% @tickets.each do |ticket| %>
    <%= render'event-show-card', name: ticket.name, description: ticket.description, price: ticket.unit_price %>
  <% end %>

  <% if @tickets.count >= 1 %>
    <div class="text-center">
    <h1>
    <%= link_to "Je veux participer", new_event_participant_path(params[:id]) %>
    </h1>
    </div>
  <% end %>

</div>
