
<div class="titre-home d-flex">
  <h1>mes amis mes amours, une association qui sensibilise et lutte contre le cancer du sein via le financement de prothèses capillaires</h1>
  <%= image_tag "perruque.jpg" %>
</div>
<div class="text-home">
  <p>mes amis mes amours est une association qui sensibilise et lutte contre le cancer du sein en aidant directement les femmes touchées par cette maladie.  Lorsque les difficultés financières s’ajoutent malheureusement aux problèmes de santé, l’association vient offrir une solution.</p>
  <p>Elle aide en effet à financer le reste à charge sur l’achat de prothèses capillaires,  pour que le bien être soit à la portée de toutes.</p>
  <p>Et pour que toutes puissent reprendre les activités physiques, l’association participe à l’achat de brassières de sport ou maillot de bain post-mastectomie et prend en charge une partie de cours d’acvités physiques adaptées.</p>
  <p>L’association organise un événement sportif annuel : la YUL, le premier dimanche d’octobre ! Dans le but de partager de bons moments de complicité, de faire connaitre la cause, de rappeler les bienfaits du sport sur la santé et de récolter des fonds afin d’aider les patients tout au long de l’année.</p>
</div>
