<div class="titre-home d-flex">
  <h1>mes amis mes amours, une association qui sensibilise et lutte contre le cancer du sein via le financement de prothèses capillaires</h1>
  <%= image_tag "perruque.jpg" %>
</div>


  <div class="cards-home">
    <div class="card-home">
      <h1>Notre histoire</h1>
      <p>27 septembre 2008</p>
      <p>Mon mari a 40 ans. C’est un amoureux de running, je décide donc de lui offrir une place au marathon de New York 2009. J’en profite pour... </p>
    </div>
    <div class="card-home">
      <h1>Nos engagements</h1>
      <p>mes amis mes amours lutte contre le cancer du sein et aide directement les malades en finançant une partie de l’achat de prothèses capillaires, les accessoires...</p>
    </div>
    <div class="card-home">
      <h1>Le ok sign</h1>
      <p>Un nouveau signe de connivence qui ouvre le dialogue autour du cancer du sein</p>
    </div>
    <div class="card-home">
      <h1>Nos partenaires</h1>
      <p>70 pharmacies et partenaires</p>
    </div>
  </div>
