
.container-home-dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.countdown-timer {
  font-size: 3rem;
  font-weight: bold;
  color: $very-rose;
  margin: 10px 0;
}

/* Card product styles */
.card-product {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
}

.card-product img {
  width: 120px;
  height: 100%;
  object-fit: cover;
  margin-left: 16px;
}


.card-product-infos {
  padding: 16px;
}

.card-product-infos h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 8px;
}

.card-product-infos p {
  margin: 4px 0;
  color: #555;
}

.event-date {
  font-size: 0.9rem;
  color: #777;
}

/* Statistics section */
.affichage-des-chiffres {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.inscriptions, .money {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inscriptions h2, .money h2 {
  font-size: 1.2rem;
  color: $very-rose;
  margin-bottom: 10px;
}

.inscriptions h3, .money h3 {
  font-size: 1rem;
  color: $very-rose;
  padding-bottom: 16px;
}

.inscriptions p, .money p {
  font-size: 1rem;
}


.inscriptions ul, .money ul {
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.inscriptions ul li, .money ul li {
  font-size: 0.9rem;
  color: $lichen;
  text-align: left; /* Aligne tout à gauche */
}

.bandeau {
  background-color: $very-rose;
  color:#fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash:hover {
  transform: translateY(-3px);
  transform: translateX(3px);
  box-shadow: 0 6px 12px rgba(92, 22, 68, 0.3);
}

.flash-danger {
  border: 2px solid $very-rose;
}
