@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "components/_index.scss";
@import "components/_next_event.scss";

.navigation__link {
  color: $gray;
  text-decoration: none;
  padding: 10px 15px;
  font-family: $headers-font;
}

.navigation__link:hover,
.navigation__link--active {
  color: whitesmoke;
  background-color: $very-rose-hover;
  border-radius: 5px;
  transition: border-bottom 0.3s ease;
}

.app-container {
  background-color: $background-rose;
}

.transparent-header {
  width: 100%;
  height: 75px;
  background-color: $background-rose;
  padding: 20px 20px;
}

.header-content {
  font-size: 32px;
  line-height: 0.5;
  font-weight: bold;
  color: $gray;
  text-align: left;
}

.navigation {
  padding-top: 0;
}
