<div class="card-ticket">
  <h3><%= ticket.name %></h3>
  <p><%= truncate(ticket.description, length: 100) %></p>
  <p><strong>Prix :</strong> <%= ticket.unit_price %> €</p>
  <%= link_to "Modifier", edit_admin_event_ticket_path(@event, ticket), class: "btn btn-secondary event-action-button" %>
</div>