<div data-controller="stripe">
  <form data-stripe-target="form" data-action="stripe#submit">
    <input type="hidden" name="amount" id="amount" value="<%= @payable.amount %>" data-stripe-target="amount">
    <div id="payment-element" data-stripe-target="paymentElement"></div>
    <div class="text-danger mt-3" data-stripe-target="error"></div>
    <button type="submit" class="btn btn-primary mt-3">Payer maintenant</button>
  </form>
</div>
