
.index-event-card {
  background-color: rgba(255, 218, 222, .1);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(92, 22, 68, 0.15);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 3px solid $background-rose;
  position: relative;
}

.event-card-title {
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  color: $color-text;
}

.events-container h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  color: $color-text;
  text-shadow: 0 4px 8px rgba(92, 22, 68, 0.15);
  margin-bottom: 16px;
}

.index-event-card-image {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}


.event-card-description {
  font-size: 0.9rem;
  color: $color-text;
  margin-top: 0.5rem;
  height: 100px;
}

.event-card-footer i {
  color: $color-text;
  font-size: 3rem;
  position: absolute;
  bottom: -20px;
  right: 40px;
  text-shadow: 0 4px 8px rgba(92, 22, 68, 0.15);
}

.event-card-footer i:hover {
  transform: translateY(-5px);
  text-shadow: 0 6px 12px rgba(92, 22, 68, 0.3);
}

.event-card-date {
  font-weight: bold;
  color: $color-text;
}
