.top-navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  gap: 20px;
}

.top-navbar-item {
  display: flex;
  text-align: center;
  font-size: 2.4 rem;
  color: inherit ;
  text-decoration: none;
  cursor: pointer;

  :active {
    border-bottom: 0.6rem solid $very-rose;
  }
}

#navbar-link {
  color: $very-rose-hover;
  border-bottom: 0.6rem solid $very-rose-hover;
}

a {
  text-decoration: none;
}